{% extends 'base.html.twig' %}


{% block body %}
    <!-- Blog Entries Column -->
    <div class="col-md-8">
        {% for post in posts %}
            <h2>
                <a href="#">{{ post.title }}</a>
            </h2>
            <p class="lead">
                от #Автор#
            </p>
            <p><span class="glyphicon glyphicon-time"></span> Публикуван на {{ post.createdAt|date("Y-m-d H:i:s") }}</p>
            <hr/>
            <p>{{ post.body | slice(0,150) ~ '....' }}</p>
            <a class="btn btn-primary" href="#">Прочети още <span class="glyphicon glyphicon-chevron-right"></span></a>
            <hr>
        {% endfor %}
        <!-- Pager -->
        <ul class="pager">
            <li class="previous">
                <a href="#">&larr; Older</a>
            </li>
            <li class="next">
                <a href="#">Newer &rarr;</a>
            </li>
        </ul>

    </div>
{% endblock %}