<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ path('homepage') }}">Начало</a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        {% if user %}
            <li>
                <a href="{{ path('logout') }}" class="glyphicon glyphicon-log-in"> Изход</a>
            </li>
        {% else %}
        <li>
            <a href="{{ path('login') }}" class="glyphicon glyphicon-log-in"> Вход</a>
        </li>
        <li>
            <a href="{{ path('register') }}" class="glyphicon glyphicon-registration-mark"> Регистрация</a>
        </li>
        {% endif %}
    </ul>
</div>
<!-- /.navbar-collapse -->